@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

:root {
    --main-color: #0fbcf9;
    --secondary-color: #064b64;
    --dark-color: #171d1c;
    --light-gray: #dbdbdb;
  }

.brand-title {
    font-family: "Lalezar";
    font-size: 3rem !important;
    color: #000 !important;
    margin: 1rem;
  }

.dropdown-toggle::after {
    display: none !important; 
  }

  a {
    font-size: 0.8rem !important;
    color: var(--light-gray) !important;
  }

  .bi {
    font-size: 1.1rem !important;
  }

  .Navbar {
    border-bottom: 1px solid #e3e6f0;
  }

  @media (min-width: 62em){
    .Navbar {
        height: 12vh;
      }
      
   }
   #navIcons {
    display: flex;
    align-items: center;
   }

  @media (max-width: 62em){
    #navIcons {
        display: flex;
        flex-direction: column-reverse;
      }
  #userMenu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
  }
}
  .dropdownItem .bi {
    margin-right: 1rem;
  }

  .dropdownItem:hover,
  .dropdownItem:hover .bi {
    color: var(--main-color)  !important;
  }

  .navComp:hover,
  .navComp:hover .bi { color: var(--main-color)  !important;    
  }

.topbar-divider {
    width:0; 
    border-right:1px solid #e3e6f0;
    height:calc(4.375rem - 2rem);
    margin:auto 1rem;
}

@media (min-width: 479px) {
    .topbar-divider {
        display: none;
    }
}