<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Morsa | A plataforma de excelência operacional</title>
    <!--Favicon-->
<link rel="icon" type="image/x-icon" href="./components/favicon/favicon-16x16.png">
<!-- Bootstrap Icons-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Adicionado -->
    <link href="css/personalize.css" rel="stylesheet">
    <!-- CSS Pessoal-->
    <link rel="stylesheet" href="./css/stylePessoal.css" />
</head>

<body id="page-top">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top border-bottom d-flex align-items-center justify-content-between">

                    <a href="#" class="text-dark text-decoration-none mt-2">
                        <h1 class="mx-auto" style="font-size: 2.5rem">Morsa</h1>
                    </a>
                    <!-- Topbar Search -->

                    <div class="d-flex align-items-center justify-content-between">
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-50 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Pipes, Databases..."
                                aria-label="Search" aria-describedby="basic-addon2">
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                            <!-- Dropdown - Ajuda -->
                            <div class="dropdown-menu dropdown-menu-right p-9 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-question fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item no-arrow mx-1">
                            <a class="nav-link" href="./members.html">
                                <div class="d-flex flex-row align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people mr-1 my-0" viewBox="0 0 16 16">
                                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                  </svg>
                                <span class="my-0 small d-none d-md-block" id="membrosNaOrganizacao">Pessoas (160)</span>
                            </div>
                            </a>
                        </li>

                        <!-- Nav Item - Notificações -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                  </svg>
                                <!-- Contador - Notificações -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Notificações -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificações
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div>
                                        <div class="small text-gray-500">Dezembro 12, 2019</div>
                                        <span class="font-weight-bold">Você foi mencionado no card "Bad Guy, Chun-Li"</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div>
                                        <div class="small text-gray-500">Dezembro 7, 2019</div>
                                        Albert Wesker te adicionou em "Projeto Uroboros"
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div>
                                        <div class="small text-gray-500">Dezembro 2, 2019</div>
                                        Você foi mencionado no card "Demissão - William Birking"
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Mostre Todas Notificações</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                  </svg>
                                <!-- Counter - Messages -->
                                
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Ajuda
                                </h6>

                                <a class="dropdown-item" href="#">
                                    Central de ajuda
                                </a>

                                <a class="dropdown-item" href="#">
                                    Veja dicas rápidas
                                </a>

                                <a class="dropdown-item" href="#">
                                    Atalhos do teclado
                                </a>
                            
                                <a class="dropdown-item text-center" href="#" data-toggle="modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text-fill mr-2" viewBox="0 0 16 16">
                                        <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/>
                                      </svg>
                                    Fale com o suporte
                                </a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - Informação de usuário -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ada Wong</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                
                                <div class="px-3 pt-3">
                                <h7 class="font-weight-bold">Ada Wong</h7>
                                <p>adawong@gmail.com</p>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="./user-profile.html">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Prefências
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                   Trocar de empresa
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">

                <!-- Cabeçalho da Home Page-->
                <div class="d-flex flex-column flex-lg-row justify-content-between mt-5 align-items-center ">
                   
                    <!-- Saudação perfil  -->
                    <div class="d-flex align-items-center">
                        <img widht="60" height="60" class="rounded-circle mr-3"
                                    src="img/undraw_profile.png">
                    <h5 class="text-gray-800 text-wrap" style="width: 25rem"><span class="font-weight-bold">Ada Wong</span>, olha só esses novos processos &#128588;</h5>
                    </div>
                    <!-- FIm da saudação perfil  -->

                    
                    <!-- Cards do cabeçalho -->
                    <div id="cards" class="d-flex my-3 mx-5">
                    <!-- Botão para ver os cards-->
                    <a class="d-flex align-items-center px-3 py-2 mr-2 border rounded" href="#">
                        <div class="mr-2">
                            <img width="30" height="30" src="./img/svg-icons/chart-diagram-pie-svgrepo-com.svg">
                        </div>
                        <div class="text-nowrap">
                            <p class="small font-weight-bold mb-0">Meu trabalho</p>
                            <p class="small text-gray-500 mb-0">Ver cards</p>
                        </div>
                    </a>
                    <!-- Fim do botão para ver os cards-->
                    
                    <!-- Botão para templates-->
                    <a class="d-flex align-items-center px-3 py-2 mr-2 border rounded" href="#">
                        <div class="mr-2">
                            <img width="30" height="30" src="./img/svg-icons/chart-growth-invest-svgrepo-com.svg">
                        </div>
                        <div class="text-nowrap">
                            <p class="small font-weight-bold mb-0">Templates</p>
                            <p class="small text-gray-500 mb-0">Ideias pra você</p>
                        </div>
                    </a>
                    <!-- Fim do botão para templates-->

                     <!-- Botão para Ajuda-->
                     <a class="d-flex align-items-center px-3 py-2 border rounded" href="#">
                        <div class="mr-2">
                            <img width="30" height="30" src="./img/svg-icons/communication-letter-memo-svgrepo-com.svg">
                        </div>
                        <div class="text-nowrap">
                            <p class="small font-weight-bold mb-0">Ajuda</p>
                            <p class="small text-gray-500 mb-0">Tire suas dúvidas</p>
                        </div>
                    </a>
                    <!-- Fim do botão para Ajuda-->
                    </div>
                    <!-- Fim dos cards -->
                
                </div>
                <!-- Fim do Cabeçalho da Home Page-->


                <!-- Cards de Pipes -->
            <div class="mt-5 border-bottom">
                <h3 class="font-weight-bold">Pipes</h3>
            </div>

            <div id="Pipes" class="mt-4 d-flex">
                <!-- Adicionar Novo Pipe -->
            <div id="novoPipe" class="addNewCard">
            <i class="bi bi-plus-square-fill"></i>
            <p>Novo Pipe</p>
            </div>
                 <!-- Adicionar Novo Pipe -->
                 
            <div class="itemCard">
                <div id="favoritarCard">
                    <i class="bi bi-star"></i>
                </div>
            <div class="icon-circle bg-warning">
            <i class="bi bi-umbrella"></i>
            </div>
            <p id="cardTitle">Vacinas Umbrella</p>
            <p id="numeroDeCardsNoPipe">310 cards</p>
            <div id="opcoesDoCard">
            <i class="bi bi-three-dots-vertical"></i>
            </div>
            </div>

            <div class="itemCard">
                <div id="favoritarCard">
                    <i class="bi bi-star"></i>
                </div>
            <div class="icon-circle bg-warning">
                <i class="bi bi-airplane-engines-fill"></i>
            </div>
            <p id="cardTitle">Projeto Uroboros</p>
            <p id="numeroDeCardsNoPipe">15 cards</p>
            <div id="opcoesDoCard">
            <i class="bi bi-three-dots-vertical"></i>
            </div>
            </div>

            </div>
            

               <!-- Fim de Cards de Pipes-->

               <!-- Cards de Databases -->
            <div class="mt-5 border-bottom">
                <h3 class="font-weight-bold ">Databases</h3>
            </div>
            <div id="Databases" class="mt-4 mb-5">

            <!-- Adicionar Nova Database -->
            <div id="novaDatabase" data-toggle="modal" data-target="#novoDataBaseModal" class="addNewCard">
                <i class="bi bi-plus-square-fill"></i>
                <p>Nova Database</p>
            </div>
            </a>
            <!-- Adicionar Nova Database -->
            
             </div>
               <!-- Fim de cards de Databases -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

<!-- Novo Pipe Modal -->

<!-- Novo Database-->
<div class="modal fade" id="novoDataBaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Novo database</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <h6>Nome</h6>
            <p class="small mb-0">Crie um novo database para armazenar seus dados            </p>
            </div>
            <div class="container">
            <form
                        class="mr-auto my-2 my-md-0 mw-50">
                        <div class="mb-3 mt-0">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Minha database é..."
                                aria-label="databaseName" aria-describedby="basic-addon2">
                        </div>
            </form>
            </div>

        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="#.html">Criar Novo Database</a>
        </div>
    </div>
</div>
</div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Log out?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Você tem certeza que está pronto para sair?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="login.html">Sair</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>