<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Morsa | Organize o time da sua empresa</title>
    <!--Favicon-->
<link rel="icon" type="image/x-icon" href="./components/favicon/favicon-16x16.png">
<!-- Bootstrap Icons-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Adicionado -->
    <link href="css/personalize.css" rel="stylesheet">
    <!-- CSS Pessoal-->
    <link rel="stylesheet" href="./css/stylePessoal.css" />
</head>

<body id="page-top">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top border-bottom d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a href="./home.html" class="text-dark text-decoration-none mt-2">
                        <h1 class="mx-auto" style="font-size: 2.5rem">Morsa</h1>
                    </a>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <h5>Pessoas</h5>
                </div>
                    <!-- Topbar Search -->

                    <div class="d-flex align-items-center justify-content-between">
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-50 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Pesquisar pessoas..."
                                aria-label="Search" aria-describedby="basic-addon2">
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                            <!-- Dropdown - Ajuda -->
                            <div class="dropdown-menu dropdown-menu-right p-9 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-question fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        

                        <!-- Nav Item - Notificações -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                  </svg>
                                <!-- Contador - Notificações -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Notificações -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificações
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div>
                                        <div class="small text-gray-500">Dezembro 12, 2019</div>
                                        <span class="font-weight-bold">Você foi mencionado no card "Bad Guy, Chun-Li"</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div>
                                        <div class="small text-gray-500">Dezembro 7, 2019</div>
                                        Albert Wesker te adicionou em "Projeto Uroboros"
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div>
                                        <div class="small text-gray-500">Dezembro 2, 2019</div>
                                        Você foi mencionado no card "Demissão - William Birking"
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Mostre Todas Notificações</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                  </svg>
                                <!-- Counter - Messages -->
                                
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Ajuda
                                </h6>

                                <a class="dropdown-item" href="#">
                                    Central de ajuda
                                </a>

                                <a class="dropdown-item" href="#">
                                    Veja dicas rápidas
                                </a>

                                <a class="dropdown-item" href="#">
                                    Atalhos do teclado
                                </a>
                            
                                <a class="dropdown-item text-center" href="#" data-toggle="modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text-fill mr-2" viewBox="0 0 16 16">
                                        <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/>
                                      </svg>
                                    Fale com o suporte
                                </a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - Informação de usuário -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ada Wong</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                
                                <div class="px-3 pt-3">
                                <h7 class="font-weight-bold">Ada Wong</h7>
                                <p>adawong@gmail.com</p>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="./user-profile.html">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Prefências
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                   Trocar de empresa
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">
        <div class="mt-5">
         <h1 id="membrosNaOrganizacao" class="text-dark text-bold mb-0" style="font-size: 1.5rem">160 pessoas nessa empresa</h1>
         <p class="mt-0">Gerencie pessoas e funções. <a href="#">Saiba mais.</a></p>
        
         <button type="button" class="btn button-type-1 button-type-1-style py-1 px-3 small" data-toggle="modal" data-target="#convidarMembrosModal">Convidar pessoas</button>
        </div>

        <div class="table-responsive mt-5">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Função</th>
                        
                    </tr>
                </thead>
               
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img width="45" height="45" class="img-profile rounded-circle mr-3"
                            src="img/undraw_profile.png">
                               <div class="d-flex flex-column">
                                <p id="memberName" class="my-0 text-dark">Ada Wong</p>
                                <p id="memberEmail" class="my-0 small">ada.wong@gmail.com</p>
                               </div>
                            </div>
                            </td>
                        <td>Membro</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img width="45" height="45" class="img-profile rounded-circle mr-3"
                            src="img/undraw_profile.png">
                               <div class="d-flex flex-column">
                                <p id="memberName" class="my-0 text-dark">Albert Wesker</p>
                                <p id="memberEmail" class="my-0 small">albert.wesker@gmail.com</p>
                               </div>
                            </div>
                            </td>
                        <td>Administrador</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img width="45" height="45" class="img-profile rounded-circle mr-3"
                            src="img/undraw_profile.png">
                               <div class="d-flex flex-column">
                                <p id="memberName" class="my-0 text-dark">William Birkin</p>
                                <p id="memberEmail" class="my-0 small">william.birkin@gmail.com</p>
                               </div>
                            </div>
                            </td>
                        <td>Membro</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img width="45" height="45" class="img-profile rounded-circle mr-3"
                            src="img/undraw_profile.png">
                               <div class="d-flex flex-column">
                                <p id="memberName" class="my-0 text-dark">Anette Birkin</p>
                                <p id="memberEmail" class="my-0 small">anette.birkin@gmail.com</p>
                               </div>
                            </div>
                            </td>
                        <td>Administrador</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img width="45" height="45" class="img-profile rounded-circle mr-3"
                            src="img/undraw_profile.png">
                               <div class="d-flex flex-column">
                                <p id="memberName" class="my-0 text-dark">James Marcus</p>
                                <p id="memberEmail" class="my-0 small">james.marcus@gmail.com</p>
                               </div>
                            </div>
                            </td>
                        <td>Membro</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn button-type-1 button-type-1-style py-1 px-3 mb-5 small">Load More</button>

        </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="convidarMembrosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Convide pessoas para ${empresa}.</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-2">Convide mais pessoas para colaborar e construir processos incríveis junto com você.</p>
                    <p class="small text-dark">Adicionar por nome ou e-mail</p>
                    <div>

                    </div>
                    <a href="" class="small">+ Adicionar mais pessoas</a>

                    <p class="small text-dark text-bold mt-4 mb-0">Escolher pipes</p>
                    <p class="">Escolha os pipes para adicionar Administradores e Membros.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#">Convidar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>